/* Base Colors */
:root {
    --primary-color: #4CAF50; /* Green for primary buttons */
    --secondary-color: #2196F3; /* Blue for headings and links */
    --background-color: #f4f4f9; /* Light background */
    --text-color: #333; /* Dark text color */
    --border-color: #ccc; /* Light border */
}

/* Global Styles */
body {
    font-family: 'Arial', sans-serif;
    color: var(--text-color);
    background-color: var(--background-color);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    color: var(--secondary-color);
    text-decoration: none;
    transition: color 0.3s ease;
}

a:hover {
    color: var(--primary-color);
}

/* Header */
.main-header {
    background-color: var(--background-color);
    padding: 20px 0;
}

.personal-profile__name {
    font-size: 2em;
    color: var(--text-color);
    font-weight: bold;
}

.personal-profile__work {
    font-size: 1.2em;
    color: var(--secondary-color);
}

/* Menu */
.menu {
    background-color: var(--background-color);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.menu ul {
    list-style: none;
    padding: 0;
}

.menu li {
    display: inline-block;
    margin: 10px;
}

.menu a {
    font-size: 1.2em;
    color: var(--text-color);
    transition: color 0.3s ease;
}

.menu a:hover {
    color: var(--primary-color);
}

/* Portfolio Section */
.project-card {
    border: 1px solid var(--border-color);
    padding: 20px;
    margin-bottom: 30px;
    transition: transform 0.3s ease;
    border-radius: 10px;
}

.project-card:hover {
    transform: translateY(-5px);
}

.project-card__title {
    font-size: 1.6em;
    color: var(--primary-color);
}

.project-card__subtitle {
    font-size: 1.2em;
    color: var(--secondary-color);
}

.project-card__description {
    font-size: 1em;
    color: var(--text-color);
}

.project-card__stack li {
    display: inline-block;
    margin-right: 10px;
    background-color: var(--primary-color);
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
}

/* Resume Section */
.resume-list__block {
    background-color: white;
    border: 1px solid var(--border-color);
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.resume-list__block-title {
    font-size: 1.4em;
    font-weight: bold;
    color: var(--primary-color);
}

.resume-list__block-date {
    font-size: 1.2em;
    color: var(--secondary-color);
}

.resume-list__block-percentage i {
    font-style: italic;
}

/* Footer */
.footer-bottom-section {
    background-color: #333;
    color: white;
    padding: 20px 0;
}

.footer .personal-profile__social a {
    margin: 0 10px;
    color: white;
    font-size: 1.5em;
}

.footer .personal-profile__social a:hover {
    color: var(--primary-color);
}
